body {
  margin: 0;
}
.grid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  font-family: "PT Sans Narrow", sans-serif;
}
.header {
  font-size: 16px;
  -ms-flex-align: center;
      align-items: center;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #000000;
  height: 75px;
  white-space: nowrap;
}
.menu,
.menu1,
.logon {
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  margin-left: 20px;
}
.menu1 {
  margin-left: 15%;
}
.logon {
  display: -ms-flexbox;
  display: flex;
}
.content {
  background-image: url("../images/background-image.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #000000;
}
.log {
  display: -ms-flexbox;
  display: flex;
  width: 100vh;
  -ms-flex-pack: end;
      justify-content: flex-end;
  margin-right: 15%;
}
.logo {
  margin-top: 25px;
  text-align: center;
}
.yakor {
  display: -ms-flexbox;
  display: flex;
  margin: 0 15%;
}
.text {
  font-size: 20px;
  color: #ffffff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  padding: 15px;
  width: 35%;
  font-weight: bold;
}
.sqd {
  width: 10px;
  height: 10px;
  padding: 0;
  line-height: 5px;
  text-align: center;
  background-image: linear-gradient(#fff, #fff), linear-gradient(45deg, #fff, #fff);
  background-clip: content-box, border-box;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin: 15px 0;
}
.test {
  font-size: 15px;
  text-align: center;
}
.footer {
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 12px;
  background-color: #1c1a1a;
  width: 100%;
  height: 150px;
  -ms-flex-align: center;
      align-items: center;
}
.adres {
  color: #ffffff;
  margin-left: 15%;
  text-align: justify;
  -ms-flex-pack: center;
      justify-content: center;
  margin-top: 5px;
}
.find {
  color: #ffffff;
}
.friend {
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  color: #ffffff;
  -ms-flex-direction: column;
      flex-direction: column;
  margin: 5px 188px;
}
.button {
  width: 25px;
  height: 25px;
  background-color: #000000;
  margin-top: 25px;
  text-decoration: none;
  color: #ffffff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: center;
      justify-content: center;
}
.last {
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
}
.powered {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin-left: 5%;
  color: #ffffff;
  margin-right: 15%;
}
.razrab {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 25px;
}
.html {
  height: 25px;
  width: 150px;
  background-color: #000000;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}
.white {
  display: -ms-flexbox;
  display: flex;
  margin: 5% 15%;
  background-size: auto;
  -ms-flex-align: center;
      align-items: center;
  background-color: #ffffff;
}
.column1 {
  padding: 5%;
  -ms-flex: 0 auto;
      flex: 0 auto;
  width: 50%;
  height: 100%;
}
.news {
  font-size: 30px;
  font-weight: bold;
}
.top {
  font-size: 12px;
  margin-top: 15px;
  line-height: 2;
  margin-bottom: 25px;
  font-weight: bold;
  text-align: justify;
}
.button1,
.button3,
.button2 {
  background-color: #000000;
  text-align: center;
  -ms-flex-pack: center;
      justify-content: center;
  padding: 15px;
  text-decoration: none;
  color: #ffffff;
  margin-right: 15px;
}
.button3 {
  width: 310px;
}
.button2 {
  width: 105px;
}
.column2 {
  padding: 5%;
  -ms-flex: 0 auto;
      flex: 0 auto;
  width: 50%;
  height: 100%;
}
.photo {
  margin-bottom: 25px;
  margin-top: 15px;
}
.form {
  font-size: 12px;
  margin-top: 15px;
  line-height: 2;
  margin-bottom: 25px;
}
input {
  width: 170px;
  height: 25px;
  margin-bottom: 15px;
  border: 2px solid black;
}
.city,
.phone {
  margin: 5px 0;
}
.black {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: #000;
}
#date,
#name {
  margin-right: 20px;
}
.vk {
  width: 25px;
  height: 25px;
  background-color: #000;
  background-image: url("../images/vk.jpg");
  background-size: cover;
}
.line {
  background-image: url("../images/line.png");
  width: 8px;
  height: 278px;
}
.black1 {
  display: -ms-flexbox;
  display: flex;
}
.face {
  width: 25px;
  height: 25px;
  background-color: #000;
  background-image: url("../images/facebook.jpg");
  background-size: cover;
  margin: 0 10px;
}
.insta {
  width: 25px;
  height: 25px;
  background-color: #000;
  background-image: url("../images/instagram.jpg");
  background-size: cover;
}
@font-face {
  font-family: "PT Sans Narrow", sans-serif;
  src: url("../fonts/PTC55F.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
