.coll {
  display: grid;
  grid-template-columns: 15% auto 15%;
  grid-column-gap: 10px;
  font-family: "Arial", sans-serif;
}
.collOne {
  display: grid;
  grid-template-rows: 70px 53px 34% 26% 20% 20%;
}
.colorLeftTwo {
  background: #f7b5a8;
}
.square {
  background-image: url("../images/icon1.png");
  background-size: cover;
  width: 80px;
  height: 80px;
  margin-top: 20px;
  justify-self: end;
}
.squareNine {
  background-image: url("../images/icon2.png");
  background-size: cover;
  width: 80px;
  height: 80px;
  justify-self: end;
  margin-top: 13px;
}
.squareTen {
  background-image: url("../images/icon3.png");
  background-size: cover;
  width: 80px;
  height: 80px;
  margin-top: 42px;
  justify-self: end;
  -ms-flex-item-align: center;
      align-self: center;
}
.squareEleven {
  background-image: url("../images/icon4.png");
  background-size: cover;
  width: 80px;
  height: 80px;
  margin-top: 7px;
  justify-self: end;
}
.center {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  padding: 15px 0;
}
.centerOne {
  font-size: 35px;
  font-weight: 600;
  color: #ef6347;
}
.ro {
  color: #f7b5a8;
}
.centerTwo {
  display: -ms-flexbox;
  display: flex;
}
.head {
  margin-left: 20px;
  text-decoration: none;
  color: #cccac9;
  font-weight: 600;
  font-size: 15px;
}
.head:hover {
  color: #ef6347;
}
.blog {
  background: #ef6347;
  font-size: 30px;
}
.blogOne {
  color: white;
  font-size: 20px;
  font-weight: 600;
  padding: 15px 20px;
}
.collThree {
  display: grid;
  grid-template-rows: 70px 53px;
}
.image {
  display: grid;
  grid-template-columns: 67.5% 27.5%;
  grid-column-gap: 5%;
  margin-top: 20px;
}
.imageOne {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.dataOne {
  display: grid;
  grid-template-columns: 20% 80%;
  margin-top: 5px;
}
.dataOneOne {
  font-size: 14px;
  font-weight: 600;
  color: #ef6347;
  margin-top: 23px;
}
.dataOneTwo {
  color: #cccac9;
  font-size: 13px;
}
.top {
  color: #ef6347;
  font-weight: 600;
  font-size: 20px;
}
.topOne {
  font-size: 14px;
  margin-top: 25px;
}
.date {
  margin-bottom: 1px;
}
.april {
  margin: 5px 0 2px;
}
.tags {
  margin: 15px 0 2px;
}
.website {
  margin: 7px 0 2px;
}
.comment {
  margin: 15px 0 2px;
}
.four {
  margin-top: 7px;
}
.yellowCircle {
  background-image: url("../images/img1.png");
  background-size: cover;
  height: 300px;
}
.imageTwo {
  /*background: yellow;*/
  display: grid;
  grid-template-rows: 20% 30% 30% auto;
}
.about {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 12% 88%;
  grid-template-areas: "aboutt lineimage" "loren  loren";
}
.aboutt {
  font-size: 14px;
  font-weight: 600;
  color: #ef6347;
  grid-area: aboutt;
}
.lineimage {
  background-image: url("../images/line.png");
  background-size: cover;
  height: 14px;
  grid-area: lineimage;
}
.loren {
  font-size: 13px;
  grid-area: loren;
  margin-top: 15px;
}
.categories {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 12% 88%;
  grid-template-areas: "categories lineimageOne" "video video";
}
.categoriesOne {
  grid-area: categories;
  font-size: 14px;
  font-weight: 600;
  color: #ef6347;
}
.lineimageOne {
  grid-area: lineimageOne;
  background-image: url("../images/line.png");
  background-size: cover;
  height: 14px;
}
.video {
  grid-area: video;
  font-size: 13px;
}
.photo {
  display: grid;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  grid-template-columns: 23.5% 23.5% 23.5% 23.5%;
  grid-template-rows: 30px 70px 70px;
  grid-template-areas: "photoOne photoOne lineimageTwo lineimageTwo" "squareOne squareTwo squareThree squareFour" "squareFive squareSix squareSeven squareEight";
}
.photoOne {
  grid-area: photoOne;
  font-size: 14px;
  font-weight: 600;
  color: #ef6347;
}
.lineimageTwo {
  grid-area: lineimageTwo;
  background-image: url("../images/line.png");
  background-size: cover;
  height: 14px;
}
.squareOne {
  grid-area: squareOne;
  background-color: #f7b5a8;
  border: 1px solid #ef6347;
}
.squareTwo {
  grid-area: squareTwo;
  background-color: #f7b5a8;
  border: 1px solid #ef6347;
}
.squareThree {
  grid-area: squareThree;
  background-color: #f7b5a8;
  border: 1px solid #ef6347;
}
.squareFour {
  grid-area: squareFour;
  background-color: #f7b5a8;
  border: 1px solid #ef6347;
}
.squareFive {
  grid-area: squareFive;
  background-color: #f7b5a8;
  border: 1px solid #ef6347;
}
.squareSix {
  grid-area: squareSix;
  background-color: #f7b5a8;
  border: 1px solid #ef6347;
}
.squareSeven {
  grid-area: squareSeven;
  background-color: #f7b5a8;
  border: 1px solid #ef6347;
}
.squareEight {
  grid-area: squareEight;
  background-color: #f7b5a8;
  border: 1px solid #ef6347;
}
.lineFour {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-areas: "laneFive laneFive" "imageJesus imageJesus" "dataTen textTen";
}
.lineFive {
  grid-area: laneFive;
  background-image: url("../images/line.png");
  background-size: cover;
  height: 17px;
}
.imageJesus {
  grid-area: imageJesus;
  background-image: url("../images/img2.png");
  background-size: cover;
  height: 300px;
  margin-top: 50px;
}
.lineSix {
  display: grid;
  grid-template-columns: 8.5% auto 32%;
  grid-template-areas: "lineTwelf lineTwelf ." "dataTwelf textTwelf .";
  margin-top: 25px;
}
.lineTwelve {
  grid-area: lineTwelf;
  background-image: url("../images/line.png");
  background-size: cover;
  height: 17px;
}
.dataThirteen {
  background-size: cover;
  background-color: #e2e0e0;
  font-size: 60px;
  color: #ef6347;
  font-weight: bolder;
  font-family: "Aparajita";
  margin-top: 40px;
  padding-left: 40px;
}
.textTwelf {
  font-size: 14px;
  background-color: #e2e0e0;
  margin-top: 40px;
  font-style: italic;
}
.theEnd {
  display: grid;
  grid-template-columns: 68%;
  grid-template-areas: "pop" "popOne" "popTwo" "popTThree";
}
.pop {
  grid-area: pop;
  background-image: url("../images/line.png");
  background-size: cover;
  height: 18px;
  margin-top: 40px;
}
.popOne {
  grid-area: popOne;
  margin-top: 50px;
}
.some {
  color: #ef6347;
  font-weight: 600;
  font-size: 20px;
}
.www {
  color: #bdbfc1;
}
.possim {
  font-size: 14px;
}
.popTwo {
  grid-area: popTwo;
  background-image: url("../images/line.png");
  background-size: cover;
  height: 18px;
  margin-top: 40px;
}
.popTThree {
  grid-area: popTThree;
  margin-top: 50px;
}
.hol {
  background-color: #f7b5a8;
  color: white;
  text-decoration: none;
  padding: 4px 9px;
  margin-right: 5px;
  font-size: 18px;
}
.hol:hover {
  background-color: #ef6347;
}
