.content {
    background-color: #f1f1f1;
    width: 570px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
}

.text {
    margin-top: 20px;
    color: red;
    font-weight: 700;
    font-size: 30px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 166px 166px;
    grid-row-gap: 25px;
    grid-column-gap: 10px;
    margin: 30px 25px 20px;
    justify-items: stretch;
}

.cell {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}