@colorWhit: white;
@colorBlack: black;
body, html{
  height: 100%;
  background: black;
}
.wrapper {
  display: flex;
  flex-direction: column;
  background: black;
  height: 100%;
}
.menu {
  margin-top: 12px !important;
}
.menuLogo {
  margin-top: 10px !important;
}
.menuEnter {
  margin-top: 14px !important;
}
.itemStore {
  border-bottom: 4px solid white;
  font-size: 14px;
  font-family: "Four";
  color: white;
  margin: 20px 0 -4px 3px;
  text-decoration: none;
  padding-bottom: 15px;
}
.itemPrise {
  font-size: 14px;
  font-family: "Four";
  color: white;
  margin: 20px 0 0 4px;
  text-decoration: none;
  padding-bottom: 15px;
}
.itemPrise:hover {
  border-bottom: 4px solid white;
  margin-bottom: -4px;
}
.itemPriseButtonOneSocialAcademy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15%;
}
.itemTwo {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 4px;
}
.itemOneMiddle {
  background-image: url("../images/Fon.png");
  width: 61.2%;
  display: flex;
  flex-direction: column;
  .itemOneMiddleOne {
    display: flex;
    flex-direction: column;
    margin-left: 11%;
    &First {
      font-family: "Four";
      font-size: 25px;
      margin-top: 41px;
    }
    &Second {
      display: flex;
      &Main {
        font-family: "Three";
        font-weight: 600;
        font-size: 12px;
        margin: 13px 7px 0 0;
      }
      &Buba {
        width: 7px;
        height: 7px;
        transform: rotate(-45deg);
        transform-origin: 0 100%;
        background: @colorBlack;
        margin: 18px 10px 0 9px;
      }
      &Story, &Care, &Travel {
        font-family: "Three";
        font-size: 12px;
        font-weight: 600;
        margin: 13px 6px 0 0;
      }
      &Care {
        margin: 13px 0px 0 0;
      }
      &Travel {
        margin: 13px 4px 0 2px;
      }
      &Travel {
        font-size: 12px;
        font-family: "Three";
        font-weight: 600;
        margin: 13px 4px 0 0;
        color: gray;
      }
      .cccc {
        margin: 13px 7px 0 0;
      }
    }
  }
  .itemOneMiddleTwo {
    display: flex;
    margin-top: 45px;
    margin-bottom: 40px;
  }
    .itemOneMiddleTwoBaggage {
      width: 45%;
      display: flex;
      flex-direction: column;
      margin-left: 11%;
    }
  .itemOneMiddleTwoBaggageBig {
    width: 100%;
  }
      .itemOneMiddleTwoBaggageImageOne {
        background-image: url("../images/1.png");
        background-size: 100% 100%;
        width: 86%;
        height: 397px;
        box-shadow: 0 0 10px -1px #858687;
      }
      .itemOneMiddleTwoBaggageSmall {
        display: flex;
        flex-direction: row;
        margin-top: 15px;
        justify-content: space-between;
        width: 86%;
        .itemOneMiddleTwoBaggageImageTwo,.itemOneMiddleTwoBaggageImageThree,.itemOneMiddleTwoBaggageImageFour {
          background-image: url("../images/2.png");
          background-size: 100% 100%;
          width: 31%;
          height: 122px;
          box-shadow: 0 0 10px -1px #858687;
        }
        .itemOneMiddleTwoBaggageImageThree {
          background-image: url("../images/3.png");
          margin-left: 15px;
        }
        .itemOneMiddleTwoBaggageImageFour {
          background-image: url("../images/4.png");
          margin-left: 15px;
        }
      }
  .itemOneMiddleTwoText {
    width: 45%;
  }
  .itemOneMiddleTwoTextOne {
    display: flex;
    font-family: "Four";
    font-size: 13.5px;
    margin: 15px 0 0 15.5px;
    .itemOneMiddleTwoTextOneITIS {
      width: 50%;
    }
    .itemOneMiddleTwoTextOneDexter {
      width: 50%;
      margin-left: 10px;
      color: grey;
    }
  }
  .itemOneMiddleTwoTextTWo {
    font-family: "Three";
    font-size: 12px;
    margin: 25px 0 0 16px;
    line-height: 22px;
    font-weight: 600;
  }
  .itemOneMiddleTwoTextThree {
    display: flex;
    margin: 30px 0 0 17px;
    font-size: 12px;
    font-family: "Four";

    .itemOneMiddleTwoTextThreeCost {
      background: #dbdbdb;
      padding: 7.5px 20px 11.5px 20px;
    }
    .itemOneMiddleTwoTextThreeBuy {
      background: @colorBlack;
      color: @colorWhit;
      font-size: 11px;
      font-family: "Four";
      border: none;
      padding: 7.5px 13.5px 8.5px 13.5px;
    }
  }
  .itemOneMiddleTwoTextFour {
    font-family: "Four";
    margin: 49px 0 0 17px;
    font-size: 17px;
  }
  .itemOneMiddleTwoTextFiveList {
    font-family: "Three";
    font-size: 12px;
    padding: 9px 0 0 17px;
    font-weight: 600;
    &One {
      list-style: none;
    }
    &One:before {
      content: '\2666';
      padding-right: 7px;
      color: @colorBlack;
      font-size: 16px;
    }
  }
}