@import "color";
@import "marker";

* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  background: @colorBlack;
}
.body {
  margin: 0;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  .header {
    background: @colorBlack;
    display: flex;
    justify-content: center;
    width: 100%;
    .menu {
      display: flex;
      justify-content: space-between;
      width: 45%;
      margin: 19px 20px 19px 0;
      &__blockOne {
        display: flex;
        justify-content: space-between;
        width: 72%;
        &_styles {
          font-size: 14px;
          font-family: "Four";
          text-decoration: none;
          color: @colorWhite;
        }
      }
      &__blockTwo {
        display: flex;
        color: @colorWhite;
        width: 11%;
        justify-content: flex-end;
        &_arrow {
          height: 13px;
          width: 17px;
          margin-top: 3px;
        }
        &_enter {
          font-size: 14px;
          font-family: "Four";
          text-decoration: none;
          color: @colorWhite;
          margin-left: 3px;
        }
      }
    }
  }
}
.content {
  flex: 1 0 auto;
  .section {
    background-image: url("../images/background-image.png");
    background-size: 100% 100%;
    width: 100%;
    color: @colorWhite;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .imgIndex {
    display: flex;
    justify-content: center;
    width: 29%;
    margin-top: 38px;
    margin-right: 11px;
    &__img {
      background-image: url("../images/index-logo.png");
      background-size: 100% 100%;
      width: 60%;
      height: 130px;
      margin-left: 11px;
    }
  }
  .message {
    width: 48%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .quickly, .cool, .expensive {
    display: flex;
    flex-direction: column;
    margin-top: 13px;
    width: 31%;
    margin-right: 29px;
    &__header, &__header, &__header {
      display: flex;
      justify-content: center;
      font-size: 19px;
      margin-right: 10px;
      font-family: "Four";
    }
    .cool__header, .expensive__header {
      margin-left: 25px;
    }
    &__buba, &__buba, &__buba {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-top: 9px;
      .quickly__buba_style {
        margin-left: 3px;
      }
      .cool__buba_style, .expensive__buba_style {
        margin-left: 32px;
      }
    }
    &__text, &__text, &__text {
      font-size: 11px;
      text-align: center;
      margin-top: 12px;
      font-family: "Four";
      line-height: 15px;
      margin-left: 4px;
    }
    .cool__text {
      margin-left: 8px;
    }
    .expensive__text {
      line-height: 15px;
    }
  }
  .whiteBlocks {
    width: 46%;
    margin-top: 50px;
    margin-right: 20px;
    background: @colorWhite;
    position: relative;
    display: flex;
  }
  .whiteBlockTwoMargin {
    margin-top: 30px;
  }
  .news, .photo, .contactInformation, .enroll {
    width: 50%;
    margin-left: 40px;
    color: @colorBlack;
    position: relative;
    .news__header {
      font-family: "Four";
      font-size: 24px;
      margin-top: 29px;
    }
    .news__text {
      font-family: "Four";
      font-size: 13px;
      line-height: 20px;
      margin-top: 15px;
    }
    .news__button {
      font-family: "Four";
      background: @colorBlack;
      color: @colorWhite;
      border: none;
      margin: 17px 0 32px 0;
      font-size: 12px;
      padding: 8px 20px;
    }
    .photo__header {
      font-family: "Four";
      font-size: 24px;
      width: 80%;
      margin-top: 29px;
    }
    .photo__img {
      background-image: url("../images/inside-design.png");
      background-size: 100% 100%;
      width: 80%;
      height: 140px;
      margin-top: 15px;
    }
    .photo__button {
      width: 80%;
      margin-top: 31px;
    }
    .photoButton {
      flex-direction: row;
      display: flex;
      justify-content: space-between;
      &__back, &__forward {
        width: 100%;
        &_style {
          width: 100%;
          background: @colorBlack;
          color: @colorWhite;
          border: none;
          font-size: 12px;
          padding: 8px 0;
          font-family: "Four";
        }
      }
      &__forward {
        margin-left: 10px;
      }
    }
    .contactInformation__header {
      font-family: "Four";
      font-size: 24px;
      margin-top: 31px;
    }
    .contactInformation__address, .contactInformation__schedule {
      font-family: "Four";
      margin-top: 15px;
      font-size: 13px;
      line-height: 20px;
      position: relative;
    }
    .contactInformation__button {
      font-family: "Four";
      font-size: 15px;
      margin: 22px 0 38px 0;
      display: flex;
      .button__One, .button__Two {
        background: @colorBlack;
        color: @colorWhite;
        border: none;
        font-family: "Four";
        font-size: 12px;
        padding: 8px 19px;
      }
      .button__Two {
        margin-left: 13px;
        padding: 8px 14px;
      }
    }
    .enroll__header {
      font-family: "Four";
      font-size: 24px;
      width: 80%;
      margin-top: 31px;
    }
    .enroll__indicate {
      font-family: "Four";
      font-size: 12.5px;
      line-height: 20px;
      margin-top: 15px;
      width: 80%;
    }
    .enroll__button {
      display: flex;
      flex-direction: column;
      width: 80%;
      .buttons {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-top: 20px;
        &Margin {
          margin-top: 15px;
        }
        &__style {
          padding: 7px 0 7px 15px;
          font-size: 13px;
          font-family: "Four";
          background: @colorWhite;
          border: 1px solid @colorBlack;
          width: 100%;
          text-align: start;
          &_margin {
            margin-left: 12px;
          }
        }
      }
      .bigButton {
        margin-top: 20px;
        &__style {
          width: 100%;
          background: @colorBlack;
          color: @colorWhite;
          font-size: 13px;
          font-family: "Four";
          border: none;
          padding: 7px 0;
        }
      }
    }
  }
  .photoStyle, .enrollStyle {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .news::after {
    content: "";
    position: absolute;
    top: 0;
    right: -7px;
    height: 100%;
    width: 2px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0) 17%, rgba(0, 0, 0, 0.75) 50%, rgba(0, 0, 0, 0) 80%);
  }
  .contactInformation::after {
    content: "";
    position: absolute;
    top: 0;
    right: -7px;
    height: 100%;
    width: 2px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0) 17%, rgba(0, 0, 0, 0.75) 50%, rgba(0, 0, 0, 0) 80%);
  }
}
.footer {
  flex: 0 0 auto;
  &Style {
    display: flex;
    justify-content: center;
    background-color: #161616;
    width: 100%;
    margin-top: 40px;
    padding: 16px 0 26px 0;
    color: @colorWhite;
  }
  &Content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 46%;
    margin-right: 20px;
    &__address {
      font-size: 12px;
      width: 39%;
      line-height: 18px;
      margin: 21px 2px 0 0;
      font-family: "Three";
      &_why {
        color: @colorWhite;
        font-size: 12px;
      }
    }
    &__net {
      width: 23%;
      display: flex;
      flex-direction: column;
      &_header {
        font-size: 12px;
        font-family: "Three";
        margin: 14px 0 0 13px ;
      }
      &_social {
        display: flex;
        margin: 12px 0 0 4px;
        .social__vk,.social__f,.social__ins {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 36px;
          height: 33px;
          background: @colorBlack;
          .social__vk_style {
            background-image: url("../images/vk.png");
            background-size: 100% 100%;
            width: 25px;
            height: 24px;
            padding: 2px 2px 0 2px;
            margin-top: 5px;
          }
          .social__f_style {
            background-image: url("../images/f.png");
            background-size: 100% 100%;
            width: 11px;
            height: 18px;
          }
          .social__ins_style {
            background-image: url("../images/in.png");
            background-size: 100% 100%;
            width: 17px;
            height: 19px;
          }
        }
        .social__f,.social__ins {
          margin-left: 3px;

        }
      }
    }
    &__academy {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 32%;
      margin-left: 4px;
      &_devel {
        font-size: 12px;
        margin: 18px 30px 0 0;
        font-family: "Three";
      }
      &_ru {
        font-size: 10px;
        margin-top: 12px;
        background: @colorBlack;
        padding: 11px 19px;
        font-family: "Five";
      }
    }
  }
}









