@font-face {
  font-family: One;
  src: url("../Font/PTC55F.ttf");
}
@font-face {
  font-family: Two;
  src: url("../Font/PTC75F.ttf");
}
@font-face {
  font-family: Three;
  src: url("../Font/PTN57F.ttf");
}
@font-face {
  font-family: Four;
  src: url("../Font/PTN77F.ttf");
}
@font-face {
  font-family: Five;
  src: url("../Font/PTS55F.ttf");
}
@font-face {
  font-family: Six;
  src: url("../Font/PTS56F.ttf");
}
@font-face {
  font-family: Seven;
  src: url("../Font/PTS75F.ttf");
}
@font-face {
  font-family: Eight;
  src: url("../Font/PTS76F.ttf");
}
@colorWhit: white;
@colorBlack: black;
@colorBlockOne: #f9f9f9;

* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  background: black;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

.body {
  margin: 0;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: black;
}
.headerOne {
  background: black;
  display: flex;
  justify-content: center;
  width: 100%;
  &Menu {
    display: flex;
    justify-content: space-between;
    width: 50.5%;
    margin: 19px 0 19px;
    &One {
      display: flex;
      justify-content: space-around;
      width: 72%;
      &Information {
        font-size: 14px;
        font-family: "Four";
        text-decoration: none;
        color: @colorWhit;
      }
      .info {
        margin-left: 3px;
      }
      .prays {
        margin-right: 1px;
      }
      .store {
        margin-right: 2px;
      }
      .contact {
        margin-right: 4px;
      }
    }
    &Two {
      display: flex;
      color: @colorWhit;
      width: 11%;
      justify-content: end;
      &Arrow {
        height: 13px;
        width: 17px;
        margin-top: 3px;
      }
      &Enter {
        font-size: 14px;
        font-family: "Four";
        text-decoration: none;
        color: @colorWhit;
        margin-left: 3px;
      }
    }
  }
}
.headerTwo {
  background-image: url("../images/background-image.png");
  background-size: 100% 100%;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.headerTwoUsi {
  display: flex;
  justify-content: center;
  width: 29%;
  margin-top: 38px;
  margin-right: 11px;
}
.headerTwoUsiImage {
  background-image: url("../images/index-logo.png");
  background-size: 100% 100%;
  width: 60%;
  height: 130px;
}
.headerTwoMessage {
  width: 48%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.headerTwoMessageQuickly,.headerTwoMessageCool,.headerTwoMessageExpensive {
  display: flex;
  flex-direction: column;
  margin-top: 13px;
  width: 31%;
  margin-right: 29px;
}
.headerTwoMessageCool,.headerTwoMessageExpensive {
  width: 31%;
}
.mainQuickly, .mainCool, .mainExpensive {
  display: flex;
  justify-content: center;
  font-size: 19px;
  margin-right: 10px;
  font-family: "Four";
}
.mainCool, .mainExpensive {
  margin-left: 25px;
}
.bubaQuicklyQ {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 9px;
}
.bubaQuickly, .bubaCool, .bubaExpensive {
  width: 13px;
  height: 13px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
  background: @colorWhit;
}
.bubaQuickly {
  margin-left: 3px;
}
.bubaCool {
  margin-left: 28px;
}
.bubaExpensive {
  margin-left: 28px;
}
.textQuickly, .textCool, .textExpensive {
  font-size: 11px;
  text-align: center;
  margin-top: 12px;
  font-family: "Four";
  line-height: 15px;
  margin-left: 4px;
}
.textCool {
  margin-left: 8px;
}
.textExpensive {
  line-height: 15px;
}
.block_White {
  width: 46%;
  margin-top: 50px;
  margin-right: 20px;
  background: white;
  position: relative;
  display: flex;
}
.block_White_One {
  margin-top: 20px;
}
.block_White_First {
  width: 50%;
  margin-left: 40px;
  color: black;
  position: relative;
}
.block_White_First_Width {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.block_White_First:after {
  content: "";
  position: absolute;
  top: 0;
  right: -13px;
  height: 100%;
  width: 2px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0) 17%, rgba(0, 0, 0, 0.75) 50%, rgba(0, 0, 0, 0) 80%);
}
.headerTwoWhitOne {
  color: @colorBlack;
  width: 47%;
  margin-top: 50px;
  display: flex;
  margin-right: 20px;
}
.headerTwoWhitTwo {
  margin-top: 22px;
}
.headerTwoWhitOneBlockOne {
  background: @colorBlockOne;
  width: 50%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.headerTwoWhitOneNews {
  font-family: "Four";
  font-size: 24px;
  margin-top: 29px;
}
.headerTwoWhitOneTexOne,.headerTwoWhitOneTextTwo {
  font-family: "Four";
  font-size: 13px;
  line-height: 20px;
  margin-top: 13px;
}
.headerTwoWhitOneTextTwo {
  margin-top: 15px;
}
.headerTwoWhitOneButton {
  font-family: "Four";
  background: @colorBlack;
  color: @colorWhit;
  border: none;
  margin: 17px 0 32px 0;
  font-size: 12px;
  padding: 8px 20px;
}
.headerTwoWhitOneBlockTwo {
  background: @colorBlockOne;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.headerTwoWhitOneBlockTwoFoto{
  font-family: "Four";
  font-size: 24px;
  width: 80%;
  margin-top: 29px;
}
.headerTwoWhitOneBlockTwoImage {
  background-image: url("../images/inside-design.png");
  background-size: 100% 100%;
  width: 80%;
  height: 140px;
  margin-top: 15px;
}
.headerTwoWhitOneBlockTwoButton {
  width: 80%;
  margin-top: 31px;
}
.headerTwoWhitOneBlockTwoButtonHead  {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}
.headerTwoWhitTwoBlockTwoButtonA,.headerTwoWhitTwoBlockTwoButtonB{
  width: 100%;
}
.uy {
 width: 100%;
  background: @colorBlack;
  color: @colorWhit;
  border: none;
  font-size: 12px;
  padding: 8px 0;
  font-family: "Four";
}
.headerTwoWhitTwoBlockTwoButtonB {
  margin-left: 10px;
}
.headerTwoWhitTwoBlockOneContact {
  font-family: "Four";
  font-size: 24px;
  margin-top: 31px;
}
.headerTwoWhitTwoBlockOneAddress,.headerTwoWhitTwoBlockOneSchedule {
  font-family: "Four";
  margin-top: 15px;
  font-size: 13px;
  line-height: 20px;
  position: relative;
}
.headerTwoWhitTwoBlockOneButton {
  font-family: "Four";
  font-size: 15px;
  margin: 22px 0 38px 0;
  display: flex;
}
.headerTwoWhitTwoBlockOneButtonA,.headerTwoWhitTwoBlockOneButtonB {
  background: @colorBlack;
  color: @colorWhit;
  border: none;
  font-family: "Four";
  font-size: 12px;
  padding: 8px 19px;
}
.headerTwoWhitTwoBlockOneButtonB {
  margin-left: 13px;
  padding: 8px 14px;
}

.headerTwoWhitTwoBlockTwoEnroll {
  font-family: "Four";
  font-size: 24px;
  width: 80%;
  margin-top: 31px;
}
.headerTwoWhitTwoBlockTwoIndicate  {
  font-family: "Four";
  font-size: 12.5px;
  line-height: 20px;
  margin-top: 15px;
  width: 80%;
}
.block_White_First_Button {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.block_White_First_ButtonOne {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 20px;
}
.block_White_First_ButtonOne_Top {
  margin-top: 15px;
}
.block_White_First_Button_Size {
  padding: 7px 0 7px 15px;
  font-size: 13px;
  font-family: "Four";
  background: white;
  border: 1px solid black;
  width: 100%;
  text-align: start;
}
.block_White_First_Button_Size_Time {
  margin-left: 12px;
}
.block_White_First_Button_Size_B {
}
.block_White_First_Button_Size_Phone {
  margin-left: 12px;
}

.block_White_First_ButtonTwo {
  margin-top: 20px;
}
.block_White_First_ButtonTwo_Size {
  width: 100%;
  background: black;
  color: white;
  font-size: 13px;
  font-family: "Four";
  border: none;
  padding: 7px 0;
}
.headerThree {
  display: flex;
  justify-content: center;
  background-color: #161616;
  width: 100%;
  margin-top: 40px;
  padding: 16px 0 26px 0;
  color: @colorWhit;
  &One {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 46%;
    margin-right: 20px;
    .headerThreeOneAddress{
      font-size: 12px;
      width: 39%;
      line-height: 18px;
      margin: 21px 2px 0 0;
      font-family: "Three";
      .headerThreeWhy {
        color: @colorWhit;
        font-size: 12px;
      }
    }
    &Friend {
      width: 23%;
      display: flex;
      flex-direction: column;
      .give {
        font-size: 12px;
        font-family: "Three";
        margin: 14px 0 0 13px ;
        }
      .soc{
        display: flex;
        margin: 12px 0 0 4px;
        .vkO,.f,.in  {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 36px;
          height: 33px;
          background:#000000;
          .vk {
            background-image: url("../images/vk.png");
            background-size: 100% 100%;
            width: 25px;
            height: 24px;
            padding: 2px 2px 0px 2px;
            margin-top: 5px;
          }
        }
        .f,.in{
          width: 36px;
          height: 33px;
          margin-left: 3px;
          .ff {
            background-image: url("../images/f.png");
            background-size: 100% 100%;
            width: 11px;
            height: 18px;
          }
        }
        .inn {
          background-image: url("../images/in.png");
          background-size: 100% 100%;
          width: 17px;
          height: 19px;
        }
      }
    }
    &Academy {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 32%;
      margin-left: 4px;
      .devel {
        font-size: 12px;
        margin: 18px 30px 0px 0px;
        font-family: "Three";

      }
      .ru {
        font-size: 10px;
        margin-top: 12px;
        background: @colorBlack;
        padding: 11px 19px;
        font-family: "Five";
      }
    }
  }
}
.headerTwoWhitTwoBlockOne:after {
  content: "";
  position: absolute;
  top:0;
  right: -63px;
  height: 100%;
  width: 2px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0) 17%, rgba(0, 0, 0, 0.75) 50%, rgba(0, 0, 0, 0) 80%);
}
.headerTwoWhitOneBlockOne:after {
  content: "";
  position: absolute;
  top:0;
  right: -6px;
  height: 100%;
  width: 2px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0) 17%, rgba(0, 0, 0, 0.75) 50%, rgba(0, 0, 0, 0) 80%);
}