@mobile: 720px;

@media all and (max-width: @mobile) {
  .center {
    display: flex;
    justify-content: end;
  }
  .touch-menu {
    display: block;
  }
  .centerTwo {
    display: flex;
    flex-direction: column;
  }
  .head {
    margin-left: 15px;
  }
  .head:hover {
    background: antiquewhite;
  }
  .touch-menu {
    margin-left: 15px;
    text-decoration: none;
    color: cadetblue;
    font-weight: 600;
    font-size: 18px;
    display: block;
  }
  .touch-menu:hover {
    background: ghostwhite;
    color: #ef6347;
  }
  .centerOne {
    display: none;
  }
  .colorLeftTwo, .squareNine, .squareTen, .squareEleven, .square, .dataOneOne, .dataOneTwo {
    display: none;
  }
  .image {
    display: flex;
    flex-direction: column;
  }
  .dataOne {
    display: grid;
    grid-template-columns: 100%
  }
  .categoriesOne, .lineimageOne, .photo, .lineFour {
    margin-top: 10px;
  }
  .video {
    margin-top: 5px;
  }
  .lineSix {
    display: grid;
    grid-template-areas: "lineTwelf lineTwelf lineTwelf" "dataThirteen textTwelf textTwelf";
  }
  .lineTwelve {
    grid-area: lineTwelf;
  }
  .textTwelf {
    grid-area: textTwelf;
  }
  .dataThirteen {
    grid-area: dataThirteen;
  }
  .theEnd {
    display: grid;
    grid-template-columns: 100%
  }
  .coll {
    display: grid;
    grid-template-columns: 100%
  }
  .imageJesus, .yellowCircle {
    background-size: 100% 100%;
  }
  .collOne,.dataThirteen {
    display: none;
  }
  .about,.categories {
    display: grid;
    grid-template-columns: auto 81%;
  }
  .photo {
  display: grid;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  grid-template-columns: 23.5% 23.5% 23.5% 23.5%;
  grid-template-rows: 30px 70px 70px;
  grid-template-areas: "photoOne lineimageTwo lineimageTwo lineimageTwo"
  "squareOne squareTwo squareThree squareFour"
  "squareFive squareSix squareSeven squareEight";
  }
  .categories {
    display: grid;
    grid-template-columns: 40% auto;
  }
}
@mobileOne:943px;
@mobileTwo:721px;
@media all and (max-width: @mobileOne)and (min-width: @mobileTwo){
  .date,.tags,.comment {
    font-size: 10px;
  }
  .april,.website,.website{
    font-size: 10px;
  }
}
@mobileOne:1000px;
@mobileTwo:721px;
@media all and (max-width: @mobileOne)and (min-width: @mobileTwo){
  .categories {
      display: grid;
      grid-template-columns: auto 40%;
  }
}