
@colorWhit: white;
@colorBlack: black;

body, html{
  min-height: 100%;
  background: black;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.priseMiddle {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 4px;
  &Whit {
    background-image: url("../images/Fon.png");
    background-size: 100% 100%;
    width: 60.6%;
    display: flex;
    justify-content: center;
    &Block {
      width: 80%;
      &OnePrise {
        font-family: "Four";
        font-size: 26px;
        margin: 39px 0 0 10px;
      }
      &OneHead {
        display: flex;
        font-family: "Four";
        font-size: 13px;
        margin: 13px 0 0 11px;
        font-weight: 600;
        &Two {
          width: 7px;
          height: 7px;
          transform: rotate(-45deg);
          transform-origin: 0 100%;
          background: @colorBlack;
          margin: 7px 9px 0 16px;
        }
        &Three {
          color:grey;
        }
      }
      &Two {
        display: flex;
        justify-content: center;
        margin-left: 11px;
        &Line {
          display: flex;
          justify-content: center;
          width: 19.7%;
          &One {
            border-top: 1.6px solid black;
            width: 100%;
            margin-top: 52px;
          }
        }
        &Text {
          font-size: 36.5px;
          width: 65%;
          text-align: center;
          font-family: "Four";
          margin: 28px 0 0 -3px;
        }
      }
      &Three {
        display: flex;
        flex-direction: row;
        margin-top: 43px;
        &One {
          width: 50%;
          &Text {
            font-family: "Four";
            font-size: 20px;
            margin-left: 11px;
          }
          &List {
            font-family: "Four";
            font-size: 12px;
            padding: 5px 0 0 12px;
            margin-top: 15px;
            line-height: 35px;
            &One,&Two,&Three,&Four {
                display: flex;
            }
            .priseMiddleWhitBlockThreeOneListBuba {
                width: 6.2px;
                height: 6.2px;
                transform: rotate(-45deg);
                transform-origin: 0 100%;
                background: @colorBlack;
                margin: 15px 8px 0 4px;
            }
          }
        }
        &Two {
          width: 50%;
          margin-left: 10px;
          &Cost {
            font-family: "Four";
            font-size: 20px;
            margin-left: 5px;
          }
          &TableHeader{
            border-collapse: collapse;
            margin: 34px 0 0 6px;
            width: 97%;
            &Grid {
              border: 2px solid black;
              width: 36%;
              font-family: "Four";
              padding: 10px 0;
              text-align: center;
              font-size: 12px;
            }
            .string {
              text-align:start;
              padding-left: 17px;
              font-size: 12px;
            }
          }
        }
      }
      &Four {
        display: flex;
        margin-top: 14px;
        margin-bottom: 76px;
        &One {
          width: 50%;
          &TextOne {
            font-family: "Four";
            font-size: 20px;
            margin: 25px 0 0 10px;
          }
          &TextTwo {
            font-family: "Four";
            font-size: 12px;
            margin: 23px 0 0 10px;
            line-height: 24px;
          }
        }
        &Two {
          width: 50%;
          display: flex;
          align-items: flex-end;
          &TextOne {
            font-family: "Four";
            font-size: 12px;
            line-height: 24px;
            margin-left: 11px;
          }
        }
      }
    }
  }
}
