@font-face {
  font-family: One;
  src: url("../Font/PTC55F.ttf");
}
@font-face {
  font-family: Two;
  src: url("../Font/PTC75F.ttf");
}
@font-face {
  font-family: Three;
  src: url("../Font/PTN57F.ttf");
}
@font-face {
  font-family: Four;
  src: url("../Font/PTN77F.ttf");
}
@font-face {
  font-family: Five;
  src: url("../Font/PTS55F.ttf");
}
@font-face {
  font-family: Six;
  src: url("../Font/PTS56F.ttf");
}
@font-face {
  font-family: Seven;
  src: url("../Font/PTS75F.ttf");
}
@font-face {
  font-family: Eight;
  src: url("../Font/PTS76F.ttf");
}
@colorWhit: white;
@colorBlack: black;
.One {
  margin: 0;
}
.black {
  background: @colorBlack;
}
.priceHeader {
  background: @colorBlack;
  display: flex;
  justify-content: center;
  .priceHeaderBlock {
    width: 46%;
    display: flex;
    justify-content: space-between;
    .priceHeaderOne {
      display: flex;
      justify-content: inherit;
      width: 73%;
      .loc {
        text-decoration: none;
      }
      .priceHeaderOneLogo {
        background-image: url("../images/logo.png");
        background-size: 100% 100%;
        width: 115px;
        height: 23px;
        margin: 17px 0 0 -11px;
      }
      &Information,&News,&Prise,&Store,&Contact {
        font-size: 14px;
        font-family: "Four";
        color: white;
        margin: 20px 0 0 4px;
        text-decoration: none;
        padding-bottom: 15px;
        &:hover {
          border-bottom: 4px solid @colorWhit;
          margin-bottom: -4px;
        }
      }
      &Prise {
        margin: 20px 0 0 3px;
      }
      &Store {
        margin: 20px 4px 0;
      }
      &Contact {
        margin: 20px 5px 0 0;
      }
    }
    .priceHeaderTwo {
      display: flex;
      width: 9%;
      display: flex;
      //justify-content: space-evenly;
        &Image {
        background-image: url("../images/login.png");
        background-size: 100% 100%;
        height: 14px;
        width: 17px;
        margin: 23px 0 0 5px;
      }
      &Enter {
        font-size: 14px;
        font-family: "Four";
        color: white;
        margin: 21px 0 0 3px;
      }
    }
  }
}
.priseMiddle {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  &Whit {
    background-image: url("../images/Fon.png");
    width: 60.6%;
    display: flex;
    justify-content: center;
    align-items: center;
    &Block {
      width: 80%;
      &OnePrise {
        font-family: "Four";
        font-size: 26px;
        margin: 39px 0 0 10px;
      }
      &OneHead {
        display: flex;
        font-family: "Four";
        font-size: 12.6px;
        margin: 13px 0 0 11px;
        font-weight: 600;
        &Two {
          width: 7px;
          height: 7px;
          transform: rotate(-45deg);
          transform-origin: 0 100%;
          background: @colorBlack;
          margin: 7px 9px 0 16px;
        }
        &Three {
          color:grey;
        }
      }
      &Two {
        display: flex;
        justify-content: center;
        margin-left: 11px;
        &Line {
          display: flex;
          justify-content: center;
          width: 19.7%;
          &One {
            border-top: 1.6px solid black;
            width: 100%;
            margin-top: 52px;
          }
        }
        &Text {
          font-size: 36.5px;
          width: 65%;
          text-align: center;
          font-family: "Four";
          margin: 28px 0 0 -3px;
        }
      }
      &Three {
        display: flex;
        flex-direction: row;
        margin-top: 43px;
        &One {
          width: 50%;
          &Text {
            font-family: "Four";
            font-size: 20px;
            margin-left: 11px;
          }
          &List {
            font-family: "Four";
            font-size: 12px;
            padding: 5px 0 0 12px;
            margin-top: 15px;
            line-height: 35px;
            &One,&Two,&Three,&Four {
                display: flex;
            }
            .priseMiddleWhitBlockThreeOneListBuba {
              width: 6.2px;
              height: 6.2px;
              transform: rotate(-45deg);
              transform-origin: 0 100%;
              background: @colorBlack;
              margin: 15px 8px 0 4px;
            }
          }
        }
        &Two {
          width: 50%;
          margin-left: 10px;
          &Cost {
            font-family: "Four";
            font-size: 20px;
            margin-left: 5px;
          }
          &TableHeader{
            border-collapse: collapse;
            margin: 34px 0 0 6px;
            width: 97%;
            &Grid {
              border: 2px solid black;
              width: 36%;
              font-family: "Four";
              padding: 10px 0;
              text-align: center;
              font-size: 12px;
            }
            .string {
              text-align:start;
              padding-left: 17px;
              font-size: 12px;
            }
          }
        }
      }
      &Four {
        display: flex;
        margin-top: 14px;
        margin-bottom: 76px;
        &One {
          width: 50%;
          &TextOne {
            font-family: "Four";
            font-size: 20px;
            margin: 25px 0 0 10px;
          }
          &TextTwo {
            font-family: "Four";
            font-size: 12px;
            margin: 23px 0 0 10px;
            line-height: 24px;
          }
        }
        &Two {
          width: 50%;
          display: flex;
          align-items: flex-end;
          &TextOne {
            font-family: "Four";
            font-size: 12px;
            line-height: 24px;
            margin-left: 11px;
          }
        }
      }
    }
  }
}
.priseButton {
  display: flex;
  justify-content: center;
}
.priseButtonOne {
  width: 60.95%;
  display: flex;
  background: #161616;
  color: @colorWhit;
  box-shadow: inset 0 14px 26px black;
}
.priseButtonOneAddress {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  width: 51%;
  line-height: 18px;
  margin: 45px 0 32px 0;
  font-family: "Three";
}
.priseButtonOneAddressWhy {
  color: @colorWhit;
  font-size: 11px;
  width: 50%;
}
.itemlll {
  width: 56%;
  margin-left: 24px;
}
.priseButtonOneSocial {
  width: 26%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
  .priseButtonOneSocialGive{
    font-size: 12px;
    font-family: "Three";
    margin: 0 0 0 17px ;
  }
  .priseButtonOneSocialSoc{
    display: flex;
    margin: 15px 0 7px 4px ;
    .priseButtonOneSocialVkO,.priseButtonOneSocialF,.priseButtonOneSocialIn  {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 36px;
      height: 33px;
      background:#000000;
      .priseButtonOneSocialVk {
        background-image: url("../images/vk.png");
        background-size: 100% 100%;
        width: 25px;
        height: 24px;
        padding: 2px  2px 0px 2px;
        margin-top: 5px;
      }
    }
    .priseButtonOneSocialF,.priseButtonOneSocialIn{
      width: 36px;
      height: 33px;
      margin-left: 3px;
      .priseButtonOneSocialFf {
        background-image: url("../images/f.png");
        background-size: 100% 100%;
        width: 11px;
        height: 18px;
      }
    }
    .priseButtonOneSocialInn {
      background-image: url("../images/in.png");
      background-size: 100% 100%;
      width: 17px;
      height: 19px;
    }
  }
}
.priseButtonOneSocialAcademy {
  width: 27%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 11px 0 7px 17px;
  .priseButtonOneSocialAcademyDevel {
    font-size: 12px;
    font-family: "Three";
  }
  .priseButtonOneSocialAcademyRu {
    font-size: 10px;
    background: @colorBlack;
    padding: 11px 19px;
    font-family: "Five";
    margin-top: 15px;
  }
}