@import "color";
@import "marker";
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  background: @colorBlack;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background: @colorBlack;
}
.priseList {
  font-size: 14px;
  font-family: "Four";
  color: @colorWhite;
  margin: 20px 0 -4px 4px;
  text-decoration: none;
  padding-bottom: 15px;
  border-bottom: 4px solid @colorWhite;
}
.footerWidthP {
  width: 60.7%;
}
.section {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 4px;
}
.sectionBackground {
  background-image: url("../images/Fon.png");
  background-size: 100% 100%;
  width: 60.6%;
  display: flex;
  justify-content: center;
}
.block {
  width: 80%;
  &One {
    &__prise {
      font-family: "Four";
      font-size: 26px;
      margin: 39px 0 0 10px;
    }
  }
  &Two {
    display: flex;
    &__header, &__prise {
      font-family: "Three";
      font-size: 12px;
      margin: 13px 0 0 11px;
      font-weight: 600;
    }
    &__prise {
      color: grey;
      margin-left: 3px;
    }

  }
  &Line {
    display: flex;
    justify-content: center;
    margin-left: 11px;
    &__line {
      display: flex;
      justify-content: center;
      width: 19.7%;
      &_item {
        border-top: 1.6px solid @colorBlack;
        width: 100%;
        margin-top: 52px;
      }
    }
    &__text {
      font-size: 36.5px;
      width: 65%;
      text-align: center;
      font-family: "Four";
      margin: 28px 0 0 -3px;
    }
  }
  &Three {
    display: flex;
    flex-direction: row;
    margin-top: 43px;
    &__header {
      width: 50%;
      &_style {
        font-family: "Four";
        font-size: 20px;
        margin-left: 11px;
      }
      &_list {
        font-family: "Four";
        font-size: 12px;
        padding: 5px 0 0 12px;
        margin-top: 15px;
        line-height: 35px;
        .listStyle {
          display: flex;
        }
      }
    }
  }
  &Four {
    width: 50%;
    margin-left: 10px;
    &__header {
      font-family: "Four";
      font-size: 20px;
      margin-left: 5px;
    }
    &__table {
      border-collapse: collapse;
      margin: 34px 0 0 6px;
      width: 97%;
      &_grid {
        border: 2px solid @colorBlack;
        width: 36%;
        font-family: "Four";
        padding: 10px 0;
        text-align: center;
        font-size: 12px;
      }
      .string {
        text-align:start;
        padding-left: 17px;
        font-size: 12px;
      }
    }
  }
  .blockFive {
    display: flex;
    margin-top: 50px;
    &__one {
      width: 50%;
      &_header {
        font-family: "Four";
        font-size: 20px;
        margin: 25px 0 0 10px;
      }
      &_TextOne {
        font-family: "Four";
        font-size: 12px;
        margin: 23px 0 0 10px;
        line-height: 24px;
      }
      &_TextTwo {
        width: 50%;
        display: flex;
        align-items: flex-end;
        .style {
          font-family: "Four";
          font-size: 12px;
          line-height: 24px;
          margin-left: 11px;
        }
      }
    }
  }
}























