.one {
    width: 550px;
}
.love {
    margin-left: 37px;
    font-family: "Comic Sans MS";
    font-size: 25px;
    color: #0000ff;
}
.blue {
    color: #808080;
    font-size: 15px;
}
.elvis {
    color: #0000ff;
    font-size: 15px;
    margin-left: 400px;
}