.green1 {
    border: 1px solid #008000;
    display: block;
}

.red1 {
    border: 1px solid #ff0000;
    display: block;
    margin: 5px 5px;
    height: 10%;
}

.blue1 {
    border: 1px solid #0000ff;
    margin: 5px 5px;
    display: inline-block;
    width: 25%;
    height: 100px;
}

.blue2 {
    border: 1px solid #0000ff;
    margin: 5px 5px;
    display: inline-block;
    width: 45%;
    height: 100px;
}

.blue3 {
    border: 1px solid #0000ff;
    margin: 5px 5px;
    display: inline-block;
    width: 25%;
    height: 100px;
}

.yellow {
    border: 1px solid #ffff00;
    height: 37px;
    margin: 5px 5px;
    display: block;
}

.blue4 {
    border: 1px solid #0000ff;
    margin: 5px 5px;
    display: inline-block;
    height: 50px;
    width: 14%
}

.blue5 {
    border: 1px solid #0000ff;
    margin: 5px 5px;
    display: inline-block;
    height: 50px;
    width: 33%;
}

.red3 {
    border: 1px solid #ff0000;
    margin: 5px 5px;
    display: block;
    height: 50%;
}

.blue6 {
    border: 1px solid #0000ff;
    margin: 5px 5px;
    display: inline-block;
    width: 30%;
    height: 250px;
}

.blue7 {
    border: 1px solid #0000ff;
    margin: 5px 5px;
    display: inline-block;
    width: 65%;
    height: 250px;
}

.yellow1 {
    border: 1px solid #ffff00;
    margin: 5px 5px;
    display: block;
    height: 180px;
}

.yellow2 {
    border: 1px solid #ffff00;
    margin: 5px 5px;
    display: block;
    height: 40px;
}

.red4 {
    border: 1px solid #ff0000;
    display: block;
    margin: 5px 5px;
    height: 10%;
}

.blue8 {
    border: 1px solid #0000ff;
    margin: 5px 5px;
    display: inline-block;
    width: 25%;
    height: 100px;
}

.yellow3 {
    border: 1px solid #ffff00;
    height: 37px;
    margin: 5px 5px;
    display: block;
}

.blue9 {
    border: 1px solid #0000ff;
    margin: 5px 5px;
    display: inline-block;
    width: 25%;
    height: 100px;
}

.blue10 {
    border: 1px solid #0000ff;
    margin: 5px 5px;
    display: inline-block;
    width: 45%;
    height: 100px;
}

