.body {
    border: 1px solid grey;
}
.stamp {
    height: 300px;
    float: left;
    margin-top: 320px;
    margin-right: 50px;
}
.header {
    display: flex;
    align-items: center;
    background: #b7b5b3;
    width: 1000px;

}
.hello {
    margin: 0px 22px 0px 10px;
    color: white;
}
.date {
    margin: 0px 160px 0px 0px;
    color: white;
}
.boxTwo {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    color: grey;
}
.plane {
    margin: 10px 0px 0px 14px;
}
.paragraph {
    margin: 5px 14px 5px 0px;
}
.bigPlane {
    width: 1000px;
    height: 200px;
}
.ul {
    display: flex;
    width: 1000px;
    list-style-type: none;
    height: 30px;
    background: blue;
    align-items: center;
    padding: 0!important;
    margin: 1px;
}
.il {
    color: white;
    text-decoration: none;
}
.table {
    width: 20%;
    display: flex;
    justify-content: space-around;
}
.table:hover {
     border-bottom: 5px solid #c4133c;
 }
.word {
    padding: 8px;
}
.vertically {
    flex-direction:column;
    width: 150px;
    height:353px;
    margin-top: 20px;
    display: flex;
    align-items: stretch;
}

.link {
    text-decoration: none;
    border-top: 1px solid grey;
    height: 40px;
}
.volunteers {
    margin: 10px;
    font-size: 15px;
    color: #424ef4;
}
.support {
    margin: 10px;
    font-size: 15px;
    color: #424ef4;
}
.supportOne {
    text-decoration: none;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    height: 40px;
}
.boxThird {
    display: flex;
    align-items: stretch;
}
.ether {
    margin: 2px 0px 0px 20px;
    font-family:"Arial";
}
.etherOne {
    color: #d10635;
    font-size: 25px;
    text-transform: uppercase;
}
.etherTwo {
    color: #2f4ea8;
    font-size: 30px;
    text-transform: inherit;
}
.olenka {
    width: 556px;
    height: 248px;
}
.play {
    background-color: grey;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 15px;
}
.text {
    padding: 0px 10px;
    margin-top: -1px;
}
.textOne {
    padding: 0px 10px;
    margin-top: -1px;
}
.room {
    margin-top: 5px 0px;
    width: 270px;
    text-align: center;
    color: #2f4ea8;
    font-size: 18px;
    font-family: "Arial";
}
.bold {
    width: 80px;
    height: 80px;
}
.roomOne {
    text-transform: inherit;
    text-decoration: underline;
    color: #6d6c6c;
    font-size: 15px;
    margin: 3px;
}
.tasks {
    font-size: 13px;
    margin: 10px 0px 8px 0px;
}
.document {
    word-spacing: 40px;
    color: #20202b;
    padding: 0px;
    margin: 0px;
    font-size: 13px;
}
.application {
    word-spacing: 80px;
    color: #20202b;
    padding: 0px;
    margin: 0px;
    font-size: 13px;

}
.seventeen {
    color: red;
    text-decoration: underline;

}
.four {
    text-decoration: underline;
}
.interview {
    border-top: 1px solid grey;
    width: 160px;
    margin-top: 15px;
    margin-left: 70px;
    text-align: left;
    color: #2f4ea8;
    font-size: 18px;
    font-family:"Arial";
    height: 20px;
}
.interviewOne {
    margin-top: 10px;
    color: #c4133c;
}
.question {
    font-size: 15px;
    text-align: left;
    margin-left: 70px;
    margin-bottom: 0px;
}
.form {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    align-items: left;
    margin-left: 62px;
    margin-top: 10px;
    font-style: oblique;
}

