body {
    border: 1px solid grey;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Arial", sans-serif;
}
.stamp {
    position: absolute;
    left: 0;
    top: 350px;
    width: 230px;
}
.header {
    display: flex;
    background: #cecaca;
    color: white;
    align-items: center;
    width: 1000px;
    margin-right: 20%;
    margin-left: 20%;

}
.hello {
    margin: 10px 25px 10px 10px;
    font-size: 15px;

}
.date {
    margin: 5px 185px 5px 5px;
    font-weight: 600;
    font-size: 15px;
}
.formOne {
    width: 150px;
    margin-left: 5px;
}
.formTwo {
    width: 145px;
}
.button {
    background-color: #a8a4a4;
    border: 1px solid #383636;
}
.boxTwo {
    margin-right: 20%;
    margin-left: 20%;
    display:flex;
    justify-content: space-between;
    width: 1000px;
}
.transaero {
    margin-left: 12px;
    margin-top: 20px;
    width: 367px;
    height: 65px;
    margin-bottom: 0;
}
.text {
    margin-right: 15px;
    color: #c4c6d1;
    font-size: 19px;
    margin-bottom: 0;
}
.plane {
    width: 1000px;
    height: 185px;
    margin-left: 20%;
    margin-top: 10px;
}
.table {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3px;
    display: flex;
    width: 1000px;
    background-color: #00358c;
    font-weight: 600;
}
.tableOne {
    text-decoration: none;
    padding: 10px;
    width: 20%;
    display: flex;
    justify-content: space-around;
}
.tableTwo {
    color: white;
}
.tableOne:hover {
    border-bottom: 5px solid #d60031;
    margin-bottom: -5px;
}
.boxThird {
    display: flex;
    align-items: stretch;
    margin-left: 20%;
    margin-top: 4px;

}
.vertically {
    flex-direction: column;
    width: 150px;
    margin-top: 20px;
    display: flex;
    align-items: stretch;
}
.link {
    text-decoration: none;
    border-top: 1px solid #c2c6ce;
    height: 40px;
}
.volunteers {
    margin: 10px;
    font-size: 14px;
    color: #424ef4;
}
.support {
    margin: 10px;
    font-size: 15px;
    color: #424ef4;
}
.supportOne {
    text-decoration: none;
    border-top: 1px solid #c2c6ce;
    border-bottom: 1px solid #c2c6ce;
    height: 40px;
}
.ether {
    margin: 2px 0 0 20px;
}
.etherOne {
    font-size: 25px;
    color: #d60031;
}
.etherTwo {
    font-size: 25px;
    color: #424ef4;

}
.olenka {
    width: 556px;
    height: 270px;
}
.play {
    background-color: grey;
}
.textOne{
    display: flex;
   justify-content: space-between;
    margin: 0 10px;
    color: white;
    font-size: 12px;

}
.textThird {
    margin-top: 0;
    margin-bottom: 0;
}
.room {
    margin-top: 5px 0;
    width: 270px;
    text-align: center;
    color: #2f4ea8;
    font-size: 18px;
}
.bold {
    width: 80px;
    height: 80px;
}
.roomOne {
    text-transform: inherit;
    text-decoration: underline;
    color: #6d6c6c;
    font-size: 15px;
    margin: 3px;
}
.tasks {
    font-size: 13px;
    margin: 10px 0 8px 0;
}
.document {
    word-spacing: 40px;
    color: #20202b;
    padding: 0;
    margin: 0;
    font-size: 13px;
}
.application {
    word-spacing: 80px;
    color: #20202b;
    padding: 0;
    margin: 0;
    font-size: 13px;

}
.seventeen {
    color: red;
    text-decoration: underline;

}
.four {
    text-decoration: underline;
}
.interview {
    border-top: 1px solid grey;
    width: 160px;
    margin-top: 15px;
    margin-left: 70px;
    text-align: left;
    color: #2f4ea8;
    font-size: 18px;
    height: 20px;
}
.interviewOne {
    margin-top: 10px;
    color: #c4133c;
}
.question {
    font-size: 15px;
    text-align: left;
    margin-left: 70px;
    margin-bottom: 0;
}
.form {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    align-items: left;
    margin-left: 62px;
    margin-top: 10px;
    font-style: oblique;
}