.Green{
    border: 4px solid #11d814;
    margin-top: 1px;
}
.Red{
    border: 4px solid #ff3535;
    height: 110px;
    margin: 15px;
}
.Blue1{
    border: 4px solid #3570c4;
    height: 90px;
    width: 23.5pc;
    margin: 5px;
    float: left;
    display: block;
}
.Blue2{
    margin: 5px 5px 5px 0px;
    width: 45pc;
    float: left;
    display: block;
}
.Blue3 {
    margin: 5px 5px 5px 0px;

}
.Yellow{
    border: 4px solid #f2dd26;
    height: 30px;
    margin: 5px

}
.Red1 {
    height: 70px;
}
.Blue3 {
    height: 50px;
    margin: 5px
    margin: 5px 0px 5px 5px;
}
.Blue4 {
    height: 50px;
    margin: 5px;
    width: 22.4pc;
    margin: 5px 0px 5px 0px;
}
.Blue5 {
    margin: 5px

}
.Blue6 {
    margin: 4px;
}
.Red3 {
    border: 4px solid #ff3535;
    height: 380px;
    margin: 15px;

}
.Blue7 {
    border: 4px solid #3570c4;
    height: 360px;
    width: 24pc;
    margin: 5px 5px 5px 5px;
    float: left;

}
.Blue8 {
    border: 4px solid #3570c4;
    height: 360px;
    margin: 5px 5px 5px 5px;
    float: left;
    width: 68.8pc;
}
.Yellow1 {
    border: 4px solid #f2dd26;
    height: 250px;
    margin: 5px

}
.Yellow2 {
    border: 4px solid #f2dd26;
    height: 75px;
    margin: 5px

}
.Red4{
    border: 4px solid #ff3535;
    height: 100px;
    margin: 15px
}
.Blue9 {
    border: 4px solid #3570c4;
    height: 80px;
    margin: 5px 1px 5px 5px;
    float: left;
    width: 24.3pc;
}
.Yellow3 {
    border: 4px solid #f2dd26;
    height: 23.5px;
    margin: 5px

}
.Blue10 {
    border: 4px solid #3570c4;
    height: 80px;
    width: 44pc;
    margin: 5px 1px 5px;
    float: left;
}
.Blue11 {
    margin: 5px 5px 5px 0px;

}

































