.super {
    width: 700px;
    height: 50px;
    background-color: #000;
    display: flex;
    align-items: center;
}
.zhest {
    height: 100%;
}

.kartinka {
    width: 75px;
    height: 50px;
    align-items: center;
}

.beda {
    list-style-type: none;
    margin: 0;
    padding: 4px;
    align-items: center;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.a2:hover {
    background-color: #fff;
    color: #000;

}

.a1 {
    display: inline;
    color: #000000;
}
.a2 {
    color: #ffffff;
    font-family: Calibri;
    text-decoration: none;
    font-weight: 700;
    height: 100%;

}
.valeraUchitel {
    width: 650px;
    height: 100%;
}